html {
	max-height: 100vh;
	font-family: sans-serif;
}

.landing {
	font-size: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button {
	background: #fff;
	color: #000;
	border: none;
	display: block;
	font-size: .8em;
	outline: none !important;
}
